| Jumping between C++, Java, and ActionScript (to name a few), Jordan had an eclectic early software engineering career.
br
| The past 4 or 5 years, Jordan settled into JavaScript at Weather Decision Technologies. He leads a group of crazy talented developers building out the next generation weather visualization products.
br
| Jordan focuses mainly on open geo and data visualizations and is also a co-organizer of MaptimeOKC. You can check out his latest musings at rousseau.io
