| The more scope is creeped the more un-readable and un-maintainable a codebase becomes.
br
| I want to go through some of the tough decisions that have been made to abandon current development and shake the big etch a sketch until it's just a blank slate.
br
| This can't be done haphazardly nor should it be done to allow your team to try out the newest framework. But you need not be afraid to learn from your past mistakes and create a better application for your company or client.
