.schedule-talk.schedule-room1
  .schedule-title
    img(src="speakers/jordan-rousseau/headshot.png", alt="Jordan Rousseau")
    h3 Etch A Sketch Development (So Tell Me Again Why We're Not Refactoring)
    h4 Jordan Rousseau

  ul.nav.nav-tabs(role="tablist")
    li.nav-room1.active
      a(role="tab", data-toggle="tab", href="#Rousseau-talk") Talk
    li.nav-room1
      a(role="tab", data-toggle="tab", href="#Rousseau-bio") Bio
  div.tab-content
    div.tab-pane.active(id="Rousseau-talk")
      p
        include description.jade
    div.tab-pane(id="Rousseau-bio")
      p
        include bio.jade
