|Ken Dale (http://kendaleiv.com) is a skilled and passionate software developer with most of his current technology focus centered around the .NET web stack, JavaScript, and cloud technologies. Outside the realms of software, Ken is a multi-instrument musician who enjoys food eaten with chopsticks and travel.
