| jQuery is a JavaScript library many web developers utilize for writing concise and powerful browser code, as well as abstracting away browser differences and deficiencies. While jQuery may become less relevant over time as modern browsers are more widely adopted, it is a real and present part of modern web development today. What jQuery does not provide is any built-in programmatic structure. And, applications without consistent structure can quickly become unmaintainable spaghetti code.
br
| We'll look at techniques for writing better jQuery infused code, refactoring existing jQuery code, and writing good tests.
