.schedule-talk.schedule-room1
  .schedule-title
    img(src="speakers/ken-dale/headshot.png", alt="Ken Dale")
    h3 Writing Better jQuery Infused JavaScript
    h4 Ken Dale
    //include social.jade
  ul.nav.nav-tabs(role="tablist")
    li.nav-room1.active
      a(role="tab", data-toggle="tab", href="#Dale-talk") Talk
    li.nav-room1
      a(role="tab", data-toggle="tab", href="#Dale-bio") Bio
  div.tab-content
    div.tab-pane.active(id="Dale-talk")
      p
        include description.jade
    div.tab-pane(id="Dale-bio")
      p
        include bio.jade
