| I like to contribute. You'll find me writing and talking about things you can do with JavaScript, or mentoring at NodeSchool. I'm also the Dev Star at npm.
br
| In a past life, I developed core modules for Drupal, created MicrodataPHP, and contributed to W3C standardization efforts, among other OSS contributions.
