| Modules are about to become a much more prominent part of the front-end developer's toolkit with the introduction of JavaScript modules in ES6 and with frameworks like Angular 2 and React becoming more and more modular. Even developers who don't use frameworks are starting to use modules to manage the complexity of their front-end code.
br
| While modules are helpful, the tools for managing modules on the front-end have been painful to use. But that's changing as npm partners with front-end developers and major frameworks to improve the front-end developer experience. In this talk, I'll explain the workflows front-end devs are currently using with npm, as well as a preview of what front-end npm will look like in the future.
