| Kyle Simpson is Head of Curriculum for MakerSquare and an evangelist of the open web. 
br
| He's passionate about all things JavaScript, writes books, teaches JavaScript, speaks, and contributes to the world of OSS.
