| The web is fundamentally broken in two deeply profound ways, and unfortunately the only way we're going to move forward is to painfully break from our past and present realities.
br
| First, we have to break our notion of backwards compatibility and free ourselves from past technical baggage. Then we have to break how we're building the web currently to revisit the honored principles of progressive enhancement and responsive design, but take them much further. To truly include and empower every single person on the planet in the global audience of the web we're building, from a tribe member in an African village to a poor migrant worker in a border town, we need a web that is vastly more layered and nuanced and adaptive.
br
| And most of all, we need to stop deceiving ourselves that device capabilities are the key factors driving the user's experience. Ultimately, user choice must be paramount.
