.schedule-talk
  .schedule-title
    img(src="speakers/example/headshot.png", alt="Kyle Simpson")
    h3 Breaking The Broken Web
    h4 Kyle Simpson
    
  ul.nav.nav-tabs(role="tablist")
    li.nav-room1.active
      a(role="tab", data-toggle="tab", href="#Simpson-talk") Talk
    li.nav-room1
      a(role="tab", data-toggle="tab", href="#Simpson-bio") Bio
  div.tab-content
    div.tab-pane.active(id="Simpson-talk")
      p
        include description.jade
    div.tab-pane(id="Simpson-bio")
      p
        include bio.jade
