title: Developer Conference
date: 2014-07-08 10:17:28
---

section#conference.container
  h2.section-title Developer Conference
  p
    strong Thunder Plains
    | is a web and mobile developer conference organized by the
    a(href="http://okcjs.com") Oklahoma City Javascript User Group
    | . The conference
    | focuses on JavaScript and related technologies in a wide variety of different use cases and
    | platforms that make the web all the more interesting.
    br
    ul.speakers-topics.row
      li.speakers-topics-js.col-sm-2.col-sm-offset-1.col-xs-4
        | Javascript
        img(src="images/speakers-topics-js.png", alt="Javascript")
      li.speakers-topics-html.col-sm-2.col-xs-4
        | HTML
        img(src="images/speakers-topics-html.png", alt="HTML")
      li.speakers-topics-css.col-sm-2.col-xs-4
        | CSS
        img(src="images/speakers-topics-css.png", alt="CSS")
      li.speakers-topics-api.col-sm-2.col-xs-4
        | APIs
        img(src="images/speakers-topics-api.png", alt="APIs")
      li.speakers-topics-mobile.col-sm-2.col-xs-4
        | Mobile
        img(src="images/speakers-topics-mobile.png", alt="Mobile")

section#schedule.container
  h2.section-title Schedule
  .schedule-legend
    span.legend-room1 Room 8
    span.legend-room2 Room 9
    span.legend-room3 Room 10

  .schedule-list
    .schedule-time
      time 8:00am-8:30am
    .schedule-event
      p
        | Registration

    .schedule-time
      time 8:30am-9:00am
    .schedule-event
      p
        | Opening Announcements

    .schedule-time
      time 9:00am-9:30am
    .schedule-keynote
      p Opening Keynote
      .schedule-talk
        .schedule-title
          img(src="images/speakers/Luke_Crouch.png", alt="Luke Crouch")
          h3 Web For America
          h4 Luke Crouch
          
        ul.nav.nav-tabs(role="tablist")
          li.nav-room1.active
            a(role="tab", data-toggle="tab", href="#crouch-talk") Talk
          li.nav-room1
            a(role="tab", data-toggle="tab", href="#crouch-bio") Bio
        div.tab-content
          div.tab-pane.active(id="crouch-talk")
            p
              | The web enables us to make software that reaches and connects
              | everyone. But the best minds of our generation are thinking about how
              | to make people click ads. That sucks. Are we working on the right
              | things? This talk tells the story of the Code for Tulsa brigade, and
              | why you can use web development to make your city, our state, and
              | maybe our world a better place.
          div.tab-pane(id="crouch-bio")
            p
              | I write web code and help manage web development for Mozilla Developer Network.
              | I organize some local tech communities. Tulsa Web Devs' mission is to make Tulsa on of the greatest cities in the world for web developers.
              | Code for Tulsa is a Code for America Brigade.
              | I owe all my best experiences to the open-source community and try to give back.
              | I'm also currently working on an open-source startup - codesy.io.
              | I brew my own beer, when I have time. I also help monks brew beer at a nearby Abbey once a month.
              | I do Sprint-distance Triathlons.
              | I'm a fan of Liverpool Reds and Oklahoma City Thunder.

    .schedule-time
      time 9:30am-10:20am
    .schedule-slot
      .schedule-talk.schedule-room1
        .schedule-title
          img(src="images/speakers/Aaron_Murray.png", alt="Aaron Murray")
          h3 Real World React.js
          h4 Aaron Murray
          
        ul.nav.nav-tabs(role="tablist")
          li.nav-room1.active
            a(role="tab", data-toggle="tab", href="#murray-talk") Talk
          li.nav-room1
            a(role="tab", data-toggle="tab", href="#murray-bio") Bio
        div.tab-content
          div.tab-pane.active(id="murray-talk")
            p
              | React.js brings significant benefits to front-end development: performant virtual DOM diff, one-way data flow and a great component system.
              | React, however, is just the "V" in MVC, so the question of how to actually architect your application quickly arises. In this talk we will
              | explore using React to build full apps including complementary libs, tooling, pain points and more. We will touch on the flux pattern and
              | our React-based MV* implementation.
          div.tab-pane(id="murray-bio")
            p
              | Hacker, Beatmaker, Taoist, Artist, Architect, Comic nerd
              br
              | //
              br
              | Co-founder @WeAreFractal, @HackingTheTao.

      .schedule-talk.schedule-room2
        .schedule-title
          img(src="images/speakers/Eric_Schoftstall.png", alt="Eric Schoftstall")
          h3 Genome.js
          h4 Eric Schoffstall
        ul.nav.nav-tabs(role="tablist")
          li.nav-room2.active
            a(role="tab", data-toggle="tab", href="#Schoftstall-talk") Talk
          li.nav-room2
            a(role="tab", data-toggle="tab", href="#Schoftstall-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Schoftstall-talk")
             p
              | Genetics: the final frontier. What is the link between the human genome and Javascript? Do you want to find out why your body does that weird
              | thing? In this talk we will unravel the mystery surrounding your source code, and explore using Javascript to make sense of it. Included with
              | your ticket is a copy of my genome which you may use to make clones.
          div.tab-pane(id="Schoftstall-bio")
            p
              | Enthusiast of everything. Experiencing life through code.
              br
              | //
              br
              | Co-founder @wearefractal
          
          
      .schedule-talk.schedule-room3
        .schedule-title
          img(src="images/speakers/Gordon_Bockus.png", alt="Gordon Bockus")
          h3 Building Massive Angular Apps
          h4 Gordon Bockus
        ul.nav.nav-tabs(role="tablist")
          li.nav-room3.active
            a(role="tab", data-toggle="tab", href="#Bockus-talk") Talk
          li.nav-room3
            a(role="tab", data-toggle="tab", href="#Bockus-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Bockus-talk")
            p
              | I will be describing in detail why organizing and preparing your
              | team and project for when it gets large is an obvious win over the
              | lifetime of a web application. Specifically talking about how
              | spending some time and effort considering the long term implications
              | of up front design and tooling decisions will result in a better
              | organized and easily maintained project as it gets MASSIVE!  I'll go
              | into detail about tools, processes, can best practices that will help
              | make the project scalable and maintainable.  There will be a section
              | that is specific to Angular applications taking about 1/3 of the
              | available time.
          div.tab-pane(id="Bockus-bio")
            p
              | I'm a full stack software engineer with a focus on client side technology.
              | //
              | Senior Software Engineer at Spanning Cloud Apps
    .schedule-time
      time 10:30am-11:20am
    .schedule-slot
      .schedule-talk.schedule-room1
        .schedule-title
          img(src="images/speakers/Waylon_Flinn.png", alt="Waylon Flinn")
          h3 Making Magic with Node.js and Redis
          h4 Waylon Flinn
        ul.nav.nav-tabs(role="tablist")
          li.nav-room1.active
            a(role="tab", data-toggle="tab", href="#Flinn-talk") Talk
          li.nav-room1
            a(role="tab", data-toggle="tab", href="#Flinn-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Flinn-talk")
            p
              | Ever wanted to make a game? How about a recommendation engine? Come
              | hear how Crunch Magic mixed Node.js and Redis into a potion that does
              | both.
          div.tab-pane(id="Flinn-bio")
            p
              | Waylon started out in a town with not so much as a calculus class anywhere in a 50 mile radius and began teaching
              | himself to program when he was 11. He eventually got degrees in Physics and Math and wrote the software they use
              | to test astronauts on the International Space Station. The first game he ever loved was Final Fantasy on the NES.
              | Now he thinks games are the future of the world and he's dedicated his life to making life more fun.

      .schedule-talk.schedule-room2
        .schedule-title
          img(src="images/speakers/Jenn_Schiffer.png", alt="Jenn Schiffer")
          h3 Your Grandparents Probably Didn't Have Node
          h4 Jenn Schiffer
        ul.nav.nav-tabs(role="tablist")
          li.nav-room2.active
            a(role="tab", data-toggle="tab", href="#Schiffer-talk") Talk
          li.nav-room2
            a(role="tab", data-toggle="tab", href="#Schiffer-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Schiffer-talk")
            p
              | Using build tools and public git repositories allow developers to
              | create for and distribute our work to...other developers. But what
              | about artists and writers and other non-developers who don't know how
              | to open terminal, let alone run `npm install`? I'm going to talk
              | about how I entered this problem space by building a drawing app and
              | learning how to document and distribute code in a way that people of
              | all technical and non-technical backgrounds can enjoy it.
          div.tab-pane(id="Schiffer-bio")
            p
              | Jenn Schiffer is an engineer at Bocoup and creator of make8bitart.com.
              | She enjoys humor and art immensely, as well as working her love of programming,
              | computer science, and the open web into those hobbies.

      .schedule-talk.schedule-room3
        .schedule-title
          img(src="images/speakers/Jeff_French.png", alt="Jeff French")
          h3 Awesomify Your Dev Environment [Docker + Vagrant]
          h4 Jeff French


        ul.nav.nav-tabs(role="tablist")
          li.nav-room3.active
            a(role="tab", data-toggle="tab", href="#French-talk") Talk
          li.nav-room3
            a(role="tab", data-toggle="tab", href="#French-bio") Bio
        div.tab-content
          div.tab-pane.active(id="French-talk")
            p
              | But it works on my machine!” Oh, that terrible feeling when the code that runs
              | like a champ in your dev environment falls flat on its face in production.
              | And you don’t know why.
              br
              br
              | A missing dependency?
              br
              | Permission issue?
              br
              | Wrong version of Node installed?
              br
              br
              | Don’t worry, there is a very nice solution to this problem: Make the dev environment match the production environment.
              | In this session we’ll take a look at how to run our code in a Docker container to ensure dev and production are identical.
              | We’ll start with an introduction to Docker and how it works and move on to running our NodeJS API in a container.
              | We’ll also take a look at Vagrant for running and building these Docker containers a development time.
              | When you leave this session you have a good understanding of what Docker and Vagrant are,
              | how they make your development and production environments better, and how they work together.
          div.tab-pane(id="French-bio")
            p
              | Jeff French is an experienced developer with a passion for automation,
              | software craftsmanship and good craft beer. A mild mannered developer by day and a hopeless technology junky by night.
              | He has extensive experience in web and mobile application development, deployment automation, and continuous delivery.
              | He constantly strives to learn how new technologies can help solve real world problems. He has been a contributor to
              | such open source projects as MVC Turbine, Shoelace-MVC and Octopus Deploy’s OctoPack. Jeff is an international speaker
              | at technology conferences giving talks on DevOps, Continuous Delivery, Mobile and Web Development, Javascript frameworks
              | and whatever else strikes his interest.

    .schedule-time
      time 11:30pm-1:00pm
    .schedule-event
      p
        | Lunch Break - Sponsored By
        a.logo(href="http://www.sstsoftware.com/")
          |  SST Software
      p
        a.logo(href="http://www.sstsoftware.com/")
          img(alt="SST Software" src="images/logo-sst.png")

    .schedule-time
      time 1:00pm-1:50pm
    .schedule-slot
      .schedule-talk.schedule-room1
        .schedule-title
          img(src="images/speakers/Josh_Bavari.png", alt="Josh Bavari")
          h3 Mobile Applications with JS and Ionic
          h4 Josh Bavari
        ul.nav.nav-tabs(role="tablist")
          li.nav-room1.active
            a(role="tab", data-toggle="tab", href="#Bavari-talk") Talk
          li.nav-room1
            a(role="tab", data-toggle="tab", href="#Bavari-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Bavari-talk")
            p
              | Theres two things I am absolutely passionate about:
              br
              br
              | 1) Cordova for mobile applications
              br
              | 2) JavaScript
              br
              br
              | Using the Javascript framework Ionic built on top of Cordova, it's
              | easy to make slick mobile applications built with web technologies.
              | Ionic is built with several components from AngularJS, is open
              | source, and has an ever growing user base with forums. Lets embrace
              | JavaScript and make apps that are capable of running on your mobile
              | phone through an app or a web browser.
          div.tab-pane(id="Bavari-bio")
            p
              | Ever since plugging in to a computer at a young age, Josh has been passionate about learning
              | technology and helping others learn. Since 2006, Josh has worked in a variety of business settings
              | ranging from start ups, medium size businesses, and on to the enterprise level. Currently Josh works for a local start up,
              | RaiseMore, where he is focused on building a platform using technologies such as Ruby, Rails, Javascript, HTML5, and PhoneGap.

      .schedule-talk.schedule-room2
        .schedule-title
          img(src="images/speakers/Jennifer_Wadella.png", alt="Jennifer Wadella")
          h3 The Importance of Building Developer Communities
          h4 Jennifer Wadella
        ul.nav.nav-tabs(role="tablist")
          li.nav-room2.active
            a(role="tab", data-toggle="tab", href="#Wadella-talk") Talk
          li.nav-room2
            a(role="tab", data-toggle="tab", href="#Wadella-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Wadella-talk")
            p
              | Today, companies are competing for technology talent more than for
              | business. As a developer, you have more power than you may realize.
              | You have the power to shape our technology landscape and build the
              | kind of companies for which you want to work (and not just by
              | founding them). Google doesn’t hold the monopoly on developer culture
              | nor does Silicon Valley hold the monopoly on job opportunities in
              | innovation. Learn how as a developer at any level of the corporate
              | ladder you can make an impact in your company, and Kansas City,
              | through building developer communities.
          div.tab-pane(id="Wadella-bio")
            p
              | Jennifer Wadella has been writing code since before she realized it was a credible career path.
              | She currently works as a web developer at MindMixer and loves building javascript applications and
              | attending hackathons. She is an active member of the KC tech community and the founder of Kansas City
              | Women in Technology(KCWiT), a non-profit aimed at growing the number of women in technology careers in
              | Kansas City. She founded and organizes CoderDojoKC, a program that brings mentors in to teach kids how to
              | code, and is a Tech sHeroes mentor, sits on the Shawnee Mission School District CTE Advisory board, is a
              | committee member of the KC Girls in STEM initiative, and is on the JCCC Young Women in STEM Conference planning
              | committee. She doesn't blog, but she can handle 140 characters.
      .schedule-talk.schedule-room3
        .schedule-title
          img(src="images/speakers/Derick_Bailey.png", alt="Derick Bailey")
          h3 Johnny Five is Alive
          h4 Derick Bailey

        ul.nav.nav-tabs(role="tablist")
          li.nav-room3.active
            a(role="tab", data-toggle="tab", href="#Bailey-talk") Talk
          li.nav-room3
            a(role="tab", data-toggle="tab", href="#Bailey-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Bailey-talk")
            p
              | Atwood's Law says that "any application that can be written in JavaScript,
              | will eventually be written in JavaScript" and it's hard to think of any prediction of software development's future that has been more accurate than this!
              | The "applications" that we are writing in JavaScript are no longer limited to browsers or even general purpose computing devices.
              | There's a growing army of do-it-yourself electronics out there, and thanks the ingenuity of people like Rick Waldron and his Johnny-Five framework for NodeJS, we have robots that run on JavaScript!
              br
              br
              | Yes, ROBOTS THAT RUN ON JAVASCRIPT!
              | Johnny-Five *is* alive! But, unlike the 1986 hollywood robot from which the Johnny-Five framework gets its name, no robots will be struck by
              | lightning or gain artificial intelligence in this presentation. What you'll see, instead, is a guy with a little bit of electronics knowledge,
              | a willingness to plug wires in to batteries, and an empty wallet from buying far too many Arduino toys.
              br
              br
              | See what the electro-mechanical-buzz is all about as Derick blows some LEDs,
              | shows some real world interaction with an XBox controller, and drives a robot
              | with a LeapMotion device! Come for the robots, stay for the accidental birth of
              | SkyNet from a misplaced "this" in a JavaScript callback!
          div.tab-pane(id="Bailey-bio")
            p
              | Derick Bailey is an entrepreneur, developer, screencaster, writer, blogger, speaker and technology leader in
              | central Texas (north of Austin). He runs a podcast hosting service at <a href="http://signalleaf.com">SignalLeaf.com</a>, and throws down the screencasts
              | at <a href="http://watchmecode.net">WatchMeCode.net</a>. He has been a professional software developer since the late 90’s, and has been writing code since
              | the late 80’s.
              br
              br
              | In his spare time he builds ridiculous electronic toys with Arduino (and a nearby first aid kit), is 1/3rd of a podcast on
              | being a <a href="http://entreprogrammers.com/">developer/entrepreneur</a>, gets called a spamming marketer by people on Twitter,
              | and blurts out all of the stupid / funny things
              | he's ever done in his career on his <a href="http://derickbailey.com/email_archive/">email newsletter</a>.
              br
              br
              | Follow <a href="http://twitter.com/derickbailey">@derickbailey</a>, and keep up with the latest
              | bloggerings and writing at <a href="http://derickbailey.com">derickbailey.com</a>.
    .schedule-time
      time 2:00pm-2:50pm
    .schedule-slot
      .schedule-talk.schedule-room1
        .schedule-title
          img(src="images/speakers/Tracy_Hinds.png", alt="Tracy Hinds")
          h3 Use Your Words!
          h4 Tracy Hinds
        ul.nav.nav-tabs(role="tablist")
          li.nav-room1.active
            a(role="tab", data-toggle="tab", href="#Hinds-talk") Talk
          li.nav-room1
            a(role="tab", data-toggle="tab", href="#Hinds-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Hinds-talk")
            p
              | Twitter flame wars.
              | Open source project failures through contributor fallout.
              | Bullying that leads to the bullying of bullies.
              br
              br
              | How do we maintain our communities? How do we grow them? How is
              | anyone in their right mind stepping into the caustic social media
              | environment of programming we have created for ourselves?
              br
              br
              | There are steps we can take with user groups, conferences, online
              | worlds that can help support an inclusive environment that allows
              | for debate, learning, growing, and excitement. The social sciences
              | have 100 years of research that can provide us with tools to
              | treat our fellow programmers with care. Much of this has been
              | battle-tested in the organizations we run. The bubbles we live
              | in. Let's share how we're creating a better world that is
              | welcoming to programmers, new and experienced, so that we're
              | leading by example.
              br
              br
              | Your words are powerful, and  <em>“actions speak louder than words, but
              | not nearly as often.”</em>
          div.tab-pane(id="Hinds-bio")
            p
              | By day, Tracy Hinds is a Web Engineer at Urban Airship in NYC; by nights and weekends,
              | Cat Herder of programming events shenanigans. She frequents the internets and attempts
              | tiny revolutions of confidence--one encouragement at a time. When she isn't coding, organizing,
              | monkeying up rocks/trees or bicycling to and from the glorious amount of tech meetups she can't
              | resist--she's talking your ear off about them(or anything else she's read about that day). You have been warned.
              br
              br
              | **Also recently discovered she enjoys screaming over loud music about JavaScript more than most.

      .schedule-talk.schedule-room2
        .schedule-title
          img(src="images/speakers/Jeremy_Green.png", alt="Jeremy Green")
          h3 Supercharge Your Productivity with Ember.js
          h4 Jeremy Green
         ul.nav.nav-tabs(role="tablist")
          li.nav-room2.active
            a(role="tab", data-toggle="tab", href="#Green-talk") Talk
          li.nav-room2
            a(role="tab", data-toggle="tab", href="#Green-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Green-talk")
            p
              | Ember is an opinionated application framework.  Like many
              | opinionated frameworks things get much easier when you learn what
              | those opinions are, and why they are in place. This session will
              | bring you up to speed on the concepts represented by all of the major
              | parts of the framework, and you'll be well on your way to quickly
              | delivering highly interactive applications.
              br
              br
              | MVC is a popular pattern used in both server side and client side frameworks.
              | Unfortunately due to the differences in focus, some of the common words and
              | phrases can become overloaded and confused.  This session will dive into the
              | specific parts of server and client side MVC patterns, comparing and
              | contrasting each part of the system.  Code examples will be in Ruby on Rails
              | for the server, and Ember.js for the client, but the concepts will be broadly
              | applicable to other languages.
          div.tab-pane(id="Green-bio")
            p
              | Jeremy is a full stack engineer who has been creating web apps for over 15 years.
              | He's an organizer of the OkcRuby developer group and an active open source contributor.
              | You might also find him drumming, shooting photos, or brewing.

      .schedule-talk.schedule-room3
        .schedule-title
          img(src="images/speakers/Chris_Dickinson.png", alt="Chris Dickinson")
          h3 Better Living through Control Flow Graph Generation
          h4 Chris Dickinson
         ul.nav.nav-tabs(role="tablist")
          li.nav-room3.active
            a(role="tab", data-toggle="tab", href="#Dickinson-talk") Talk
          li.nav-room3
            a(role="tab", data-toggle="tab", href="#Dickinson-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Dickinson-talk")
            p
              | This talk will be an introduction to the data structures and phases
              | involved in parsing (tokenization, abstract syntax trees, control
              | flow graph generation), and what useful tools can be built on the
              | various derived formats of your code. The overarching theme is that
              | dealing with your code on a different level of abstraction gives you
              | superpowers. This talk will include information about control flow
              | graphs + doing code review, static analysis, and optimization with
              | that intermediate format.
          div.tab-pane(id="Dickinson-bio")
            p
              | Chris is a software engineer at Walmart Labs in Portland Oregon.

    .schedule-time
      time 3:00pm-3:30pm
    .schedule-event
      p
        | Break

    .schedule-time
      time 3:30pm-4:20pm
    .schedule-slot
      .schedule-talk.schedule-room1
        .schedule-title
          img(src="images/speakers/Kassandra_Perch.png", alt="Kassandra Perch")
          h3 NodeBots Wearables: JavaScripting Your Wardrobe
          h4 Kassandra Perch
        ul.nav.nav-tabs(role="tablist")
          li.nav-room1.active
            a(role="tab", data-toggle="tab", href="#Perch-talk") Talk
          li.nav-room1
            a(role="tab", data-toggle="tab", href="#Perch-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Perch-talk")
            p
              | As NodeBots platforms get more and more diverse, they're also
              | getting smaller and easier to build and program. This talk explores
              | crafting wearable tech using sensors, outputs, and all written in JS.
              | This includes sewing together robotics pieces, dealing with stray
              | wires, and other wearables-specific challenges.
          div.tab-pane(id="Perch-bio")
            p
              | I'm an engineering evangelist for RetailMeNot in Austin, TX. When I'm not writing javascript,
              | teaching for Girl Develop It Austin, or building robots, I'm crafting or playing a new video game.
          
      .schedule-talk.schedule-room2
        .schedule-title
          img(src="images/speakers/Jordan_Rousseau.png", alt="Jordan Rousseau")
          h3 So tell me again why we're not using node.js?
          h4 Jordan Rousseau
        ul.nav.nav-tabs(role="tablist")
          li.nav-room2.active
            a(role="tab", data-toggle="tab", href="#Rousseau-talk") Talk
          li.nav-room2
            a(role="tab", data-toggle="tab", href="#Rousseau-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Rousseau-talk")
            p
              | Two years ago at WDT, the technology solution for any web
              | application was LAMP. My breaking point was us investigating Zend PHP
              | to expand our application capabilities. I was over it, we knew
              | JavaScript and there was a great new (but a bit unstable) platform
              | out that was starting to make some noise. It was time to make a
              | change.
              br
              br
              | I went through struggles with management, other developers and most definitely
              | myself on whether or not node.js was the right technology (spoiler alert, it
              | might not be).
              br
              br
              | I want to share my experiences and tips on how to make the decision if node is
              | right for your company and how to convince others (and especially yourself)
              | that node will work and it's not really going out on a limb.
          div.tab-pane(id="Rousseau-bio")
            p
              | Jordan is a recovering ActionScript developer who is passionate about open geo and data visualization platforms.
              | Jordan currently works for Weather Decision Technologies. He leads a team of crazy talented developers making the
              | world of weather more accessible. When Jordan isn't making all the JavaScript things, he enjoys breaking builds in Jenkins.

      .schedule-talk.schedule-room3
        .schedule-title
          img(src="images/speakers/Adam_Baldwin.png", alt="Adam Baldwin")
          h3 Node.js Security Live
          h4 Adam Baldwin
        ul.nav.nav-tabs(role="tablist")
          li.nav-room3.active
            a(role="tab", data-toggle="tab", href="#Baldwin-talk") Talk
          li.nav-room3
            a(role="tab", data-toggle="tab", href="#Baldwin-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Baldwin-talk")
            p
              | For years developers have been told to think about and bake security into their apps while they code for various reasons.
              | This talk will explore this old adage and see just how it might play out, live.
              | As a web application is built we will explore when is the right time to think about security controls like authentication, authorization,
              | security headers and many more and what can happen if those are ignored.
          div.tab-pane(id="Baldwin-bio")
            p
              | The BBS owner, having discovered that some kid had brute-forced his passwords for funsies, declined to press charges against Adam,
              | and instead did the next best thing: offered him a job. Under that long-ago sensei’s tutelage, Adam learned the ways of hacking and of
              | reverse engineering, awakening a love for breaking things.
              br
              br
              | Adam is adept in assessing and securing Node.js, Ruby on Rails, Django, and PHP web apps, as well as providing expertise on secure
              | application design and performing penetration testing at key project points prior to and after launch.
              br
              br
              | When he’s not experiencing the beauty of winning, Adam is spending time with his equally lovely family and giving speeches on web security
              | at like all the conferences ever.

    .schedule-time
      time 4:30pm-5:20pm
    .schedule-keynote
      p Closing Keynote
      .schedule-talk
        .schedule-title
          img(src="images/speakers/Chris_Williams.png", alt="Chris Williams [Vodoo Tiki God]")
          h3 Democratizing Hardware
          h4 Chris Williams
        ul.nav.nav-tabs(role="tablist")
          li.nav-room1.active
            a(role="tab", data-toggle="tab", href="#Williams-talk") Talk
          li.nav-room1
            a(role="tab", data-toggle="tab", href="#Williams-bio") Bio
        div.tab-content
          div.tab-pane.active(id="Williams-talk")
            p
              | With the rise of widely available chipsets, open source hardware
              | components, and makerspaces, the only thing holding back the coming
              | Hardware Revolution is... the arcane languages needed to program
              | them. While most of the development industry has pushed forward into
              | far more accessible and expressive languages, the domain of hardware
              | has been stuck in the 1980's. With the rise of NodeBots, which
              | started as node.js robots but is now inclusive of all languages, the
              | trend toward making hardware hacking accessible to all has grown
              | stronger and broader.
              br
              br
              | As a gatekeeper between the two worlds, due to being the author of
              | node-serialport, I have been witness to this amazing trend and would like to
              | invite you to join us as we bring robots, copters, boats, and rockets, but most
              | importantly the maker movement to all software and web developers.
          div.tab-pane(id="Williams-bio")
            p
              | Maker of Improbable Things. VoodooSpark, node-serialport, nodebots, nodecopter, JSConf, RobotsConf, saferaging, beerjs, and more.
    .schedule-time
      time 5:30pm-6:00pm
    .schedule-event
      p
        | Closing Remarks &amp; Prize Drawing

    .schedule-time
      time 6:30pm - ?
    .schedule-event
      p
        | After Party (Off-site) - Sponsored by
        a(href="http://mandrill.com/")
          |  Mandrill
      p.sponsor
        a.logo(href="http://mandrill.com/")
          img(alt="Mandrill" src="images/logo-mandrill.png")

section#passes.container
  h2.section-title Passes - SOLD OUT!
  ul.passes-list.row
    li.pass-lightning.soldout
      div
        .pass-title.col-md-8
          h3 Lightning
          br
          | First 20 tickets sold - SOLD OUT!
        .pass-price.col-md-4
          | $85
          sup 00
    li.pass-thunder.soldout
      .pass-title.col-md-8
        h3 Thunder
        br
        | Through August 15<sup>th</sup>
      .pass-price.col-md-4
        | $100
        sup 00
    li.pass-rain.soldout
      .pass-title.col-md-8
        h3 Rain
        br
        | Through September 12<sup>th</sup>
      .pass-price.col-md-4
        | $110
        sup 00
    li.pass-regular.soldout
      .pass-title.col-md-8
        h3 Regular Pass
        br
        | Through October 8<sup>th</sup>
      .pass-price.col-md-4
        | $125
        sup 00
    li.pass-onsite.soldout
      .pass-title.col-md-8
        h3 Onsite Pass
        br
        | At the door
      .pass-price.col-md-4
        | $150
        sup 00
    li.pass-students.soldout
      .pass-title.col-md-8
        h3 Students
        br
        | w/ valid Student ID
      .pass-price.col-md-4
        | $85
        sup 00
    li.pass-bulk.soldout
      .pass-title.col-md-8
        h3 Herd
        br
        | 5 or more tickets (bulk only)
      .pass-price.col-md-4
        | $100
        sup 00/ea
  p All 275 tickets are SOLD OUT! This event is gonna be rockin'!

section#coc
  .container
    h2.section-title Code of Conduct
    p
      | Before attending the conference,
      a(href="http://confcodeofconduct.com") please review the Thunder Plains Code of Conduct
      | . The CoC applies to all attendees, speakers, volunteers, and vendors
      | at official and unofficial events by Thunder Plains and any location
      | where attendees may be congregating.
      a(href="mailto:info@thunderplainsconf.com") Contact us
      |  if you have questions about the COC.
    br
    p
      | Our conference is a safe learning environment for everyone. The safety
      | and well-being of attendees and others is our utmost concern, so please
      | speak up and speak out. We're here for you.

section#location
  .container
    h2.section-title Where it&#8217;s at
    p
      | Located at the
      a(href="http://www.coxconventioncenter.com/") Cox Convention Center
      |  in downtown Oklahoma City
      br
      | within walking distance of great hotels and restaurants.
  #map

section#sponsors.container
  h2.section-title With help from these fine folks
  .sponsors-list
    .row.vcenter
      .sponsor
        h2 Gold Sponsors
        .col-md-3.col-lg-3
          a.logo(href="http://www.sstsoftware.com/")
            img(alt="SST Software" src="images/logo-sst.png")
        .col-md-3.col-lg-3
          a.logo(href="http://mandrill.com/")
            img(alt="Mandrill" src="images/logo-mandrill.png")
    br
    .row.vcenter
      .sponsor
        h2 Silver Sponsors
        .col-md-4.col-lg-4
          a.logo(href="http://www.modis.com/")
            img(alt="Modis" src="images/logo-modis.png" width="200")
        .col-md-4.col-lg-4
          a.logo(href="http://oil-law.com/")
            img(alt="Oil-Law Records" src="images/logo-olr.png" width="220")
        .col-md-4.col-lg-4
          a.logo(href="http://www.digitaltutors.com/")
            img(alt="Digital Tutors" src="images/logo-digitaltutors.jpg" width="240")
    .row.vcenter
      .sponsor
        .col-md-4.col-lg-4
          a.logo(href="http://spanning.com/")
            img(alt="Spanning" src="images/logo-spanning.png" width="200")
        .col-md-4.col-lg-4
          a.logo(href="https://www.mozilla.org/en-US/")
            img(alt="Mozilla" src="images/logo-mozilla.png" width="200")
        .col-md-4.col-lg-4
          a.logo(href="http://wearefractal.com/")
            img(alt="Fractal" src="images/logo-fractal.png" width="250")
    br
    .row.vcenter
      .sponsor
        h2 Bronze Sponsors
        .col-md-3.col-lg-3
          a.logo(href="https://www.quailcreekbank.com/")
            img(alt="Quail Creek Bank" src="images/logo-quailcreeekbank.png" width="150")
        .col-md-3.col-lg-3
          a.logo(href="https://www.github.com/")
            img(alt="GitHub" src="images/logo-github.png" width="180")
        .col-md-3.col-lg-3
          a.logo(href="http://wdtinc.com/")
            img(alt="Weather Decision Technologies" src="images/logo-wdt.png" width="230")
    br
    .row.vcenter
      .sponsor
        h2 Community Sponsors
        .col-md-4.col-lg-4
          a.logo(href="http://www.tailwindapp.com/")
            img(alt="Tailwind" src="images/logo-tailwind.png" width="280")
    br
    .row
      .sponsor
        h2 Partners
        a.logo-innotech(href="http://innotechconferences.com/okc/") Innotech

