| The Product Design Sprint was started by Google Ventures and quickly adopted and updated by several of the biggest names in the industry, including thoughtbot. 
br
|I'll talk about how we do a sprint, things that we have learned, and what you can do to put these ideas into practice. Design Sprints are perfect for startups wanting to realize their ideas, but also work well for that new feature for your existing product or anywhere that needs some critical thinking and validation from real users. We will outline what is done on each day of the typical week, and how it can be scaled up or even scaled down to a few hours. I'll also share thoughtbot's resources to give them everything they need to start doing design sprints of their own.
