| With a background in contemporary sculpture, aquarium exhibit design, marketing, animation, and web development, Greg is all over the place. The central guiding principle behind his work is to find the middle ground between the technical and creative, and explore it and see what comes up. He is a Senior Web Developer + Digital Designer at Cubic, a Tulsa based creative branding agency. 
br
| His latest programming experiments can be found at gregtatum.com.
