| This summer I will be completing a fellowship with Mozilla helping building out the documentation for WebGL on MDN. 
br
|At Thunderplains I would love to speak about this experience, and what the future of WebGL looks like. WebGL is a fairly low-level API that has a lot of power and archane complexity. Most of the knowledge-base for GL-related technologies is written towards developers of non-web technologies. I would like to boil this technology down into a simple conceptual intro of the lower-level API that is specifically targeted towards web developers. I would also like to challenge the attendees on what future applications can be built using WebGL and how it will fundamentally change how we interact with the web.
