| Matt Steele is a front-end developer living in Omaha. He works on all things JavaScript at Union Pacific Railroad. He doesn't use Rails much.
br
| Matt helps run the Omaha Java User Group, NebraskaJS, and NEJS Conf.
br
| Matt can be found online at steele.blue.
