| Have you heard of TypeScript? CoffeeScript? Dart? Have you ever wanted to invent your own programming language and run it in the browser? Well, you can! Write your own compiler! Or a transpiler, or whatever the cool kids are calling them these days. No formal knowledge of compilers is required.
br
| In this talk, I'll show you how to use tools like Jison to build a compiler that targets JavaScript as a runtime. You can even generate Source Maps, so you can debug against your original code in the browser.
br
| We'll then put it to use by writing a compiler for the greatest programming language of all time: ArnoldC.
