@-webkit-keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

@-moz-keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1


@-webkit-keyframes fadeBackdrop
  from
    opacity: 0
  to
    opacity: 0.8

@-moz-keyframes fadeBackdrop
  from
    opacity: 0
  to
    opacity: 0.8

@keyframes fadeBackdrop
  from
    opacity: 0
  to
    opacity: 0.8



@-webkit-keyframes bloop
  0%
    -webkit-transform: scale(0.1)
  50%
    -webkit-transform: scale(1.0)
  70%
    -webkit-transform: scale(0.9)
  100%
    -webkit-transform: scale(1.0)

@-moz-keyframes bloop
  0%
    -webkit-transform: scale(0.1)
  50%
    -webkit-transform: scale(1.0)
  70%
    -webkit-transform: scale(0.9)
  100%
    -webkit-transform: scale(1.0)

@keyframes bloop
  0%
    -webkit-transform: scale(0.1)
  50%
    -webkit-transform: scale(1.0)
  70%
    -webkit-transform: scale(0.9)
  100%
    -webkit-transform: scale(1.0)
