/* Colors */
$background = #fafafa
$creme = #f2ece4
$orange = #e5c1a0
$purple-light = #b27d97
$purple-dark = #524866
$blue-light = #44a7de
$blue-dark = #2d3740
$green-dark = #4c5a53
$green-light = #7c8079
/* Fonts */
@import 'fonts'
$font-body = "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-headers = "Sanchez", $font-body
$font-subheaders = "Sanchez", $font-body
/* Breakpoints */
$break-small = 768px
$break-medium = 992px

$hoverSaturate = 300%
$hoverBackgroundLighten = 90%
$hoverDarkenFont = 25%
$hoverSaturateFont = 200%
$hoverDesaturateBack = 5%
$hoverTextShadow  = 1px 1px 1px rgba(50, 50, 50, 0.1)
$hoverReactSpeed = 900ms