| I'm a frontend developer that's become a Javascript backend developer. In my free time I play games, program, and tinker with electronics. 
br
| At work I play games, program, and tinker with electronics.
