| Almost every Javascript developer starts with an example of a REST server to create requests and fulfill their network transport. I'm going to talk about building a TCP network layer which will handle requests between different Node.JS applications which can be spread across the globe.
br
| Today I'm the lead developer at NodeCraft, where we process between 50-70 million requests a week via TCP and REST. I'll talk about the alternative services which provide this today, how to design a scale-able transport layer, and even how to bring the data to the browser via Socket.IO
br
| I personally believe that Javascript and Node.JS is so much more than just a REST framework or a web server. I want to show you how!
