extends base

prepend window_title
  = page.title

 append content
  section.container(class=page.layout)
    h2.section-title= page.title
    div.meta
      include _partial/article_meta
      +date(page.date)
      +category(page.categories)
    != page.content
  include _partial/article_pagination
