| Since founding an instructional gaming website out of his college apartment, Jordan has loved building great experiences on the web.
br
| Currently the Frontend Lead at Optimizely, he enjoys writing javascript, figuring out ways to help developers become more productive and playing ping pong. Jordan is also the creator of the first implementation of Flux Architecture to use Immutable data and Functional Reactive Programming, NuclearJS.
