.schedule-talk.schedule-room3
  .schedule-title
    img(src="speakers/example/headshot.png", alt="Jordan Garcia")
    h3 Building Games with React + Immutable + Flux
    h4 Jordan Garcia
    
  ul.nav.nav-tabs(role="tablist")
    li.nav-room1.active
      a(role="tab", data-toggle="tab", href="#Garcia-talk") Talk
    li.nav-room1
      a(role="tab", data-toggle="tab", href="#Garcia-bio") Bio
  div.tab-content
    div.tab-pane.active(id="Garcia-talk")
      p
        include description.jade
    div.tab-pane(id="Garcia-bio")
      p
        include bio.jade
