| Matthew Podwysocki is a Principal Software Developer and self-described Open Sourcerer at Microsoft. He currently works on the Reactive Extensions Team focusing on all languages including JavaScript and the Thali Project, focusing on data streams and the Internet of Things.
