.schedule-talk.schedule-room2
  .schedule-title
    img(src="speakers/matthew-podwysocki/headshot.png", alt="Matthew Podwysocki")
    h3 Async Javascript Netflix, Microsoft and the World!
    h4 Matthew Podwysocki
    
  ul.nav.nav-tabs(role="tablist")
    li.nav-room1.active
      a(role="tab", data-toggle="tab", href="#Podwysocki-talk") Talk
    li.nav-room1
      a(role="tab", data-toggle="tab", href="#Podwysocki-bio") Bio
  div.tab-content
    div.tab-pane.active(id="Podwysocki-talk")
      p
        include description.jade
    div.tab-pane(id="Podwysocki-bio")
      p
        include bio.jade
