| Pawel is an engineer at Wedgies.com by day, and an insatiably curious tinkerer by night. Interests include electronics, robotics, 3D printing, CNC, virtual reality and outer space. 
| He recently contributed a chapter to JavaScript Robotics along with a whole slew of incredible people
