| Near space is a region of the Earth's atmosphere starting at 20 km, high enough to boil water at body temperature. With a little bit of preparation, you can launch a ballon carrying a payload of sensors and cameras driven by JavaScript into near space at twice the height that commercial airlines can fly. I will guide you through the hardware, software and red tape you should be familiar with to create your own high altitude experiments. 
br
| I will guide you through the entire journey starting at ground level from legal restrictions and licensing issues to building custom hardware and writing code for harvesting data from (an actual) cloud, to tracking and safely recovering your payload as it fall back to Earth. Our project began as a 2 day hackathon at work with a GoPro and GPS unit in a cardboard box and grew into it's current level of complexity and fun through many weekends of hacking, robotics, amateur radio and very amateur aeronautics. 
br
| Let's take back cloud computing!
