| Hey! I'm currently the User Controls Team Lead at DigitalOcean. I get to play with JavaScript and help people be the best programmers they can be all day, so that's pretty great.
br
| I also spent an awesome three months writing code as part of the fall 2012 batch of The Recurse Center (then known as Hacker School). It was amazing. I love how code is, for me, the perfect combination of logic and creativity.
br
| In May 2012, I received an Sc.B in Cognitive Science at Brown, during which I completed my honors thesis in Professor Laura Kertz's Sentence and Discourse Processing Lab, investigating the nature of lexical access and lexical ambiguity resolution in dual-context sentences. In other words, I did my thesis on puns.
br
| I like thinking about the structure of the mental lexicon, the mental dictionary, and I'd like to learn more about distributed processing models of cognition, computational modeling, human computer interaction, user experience and usability, natural language processing, and data visualization. I also enjoy bouldering, cooking, making mashups, DJing, and drinking coffee.
