| Many of us depend on the internet for both work and play, but it's possible to go about our lives without knowing the steps it takes to get those pixels to show up and delight us and our users. 
br
| However, a sense of the process of what's going on to serve web apps can help us as developers make better software as well as understand the motivation behind many of the optimizations that we've been taught. This talk will cover the life of a web request in a browser, from entering the URL to the processing the HTML, covering DNS, TLS, TCP, HTTP, and HTML parsing and rendering, explaining how each step in the process affects the performance of web apps.
