| Blaine is a Co-Founder of Iced Dev, a Phoenix-based JavaScript consultancy, and an avid contributor to open-source projects like lodash and gulp. He credits much of his knowledge and professional development to participating in the Javascript community and tries to return the favor through speaking engagements, organizing hackathons, open-sourcing experiments and releasing modules back into the community.
br
| He's also Iced Dev's undisputed champion of the Exploding Kittens card game.
