.schedule-talk.schedule-room3
  .schedule-title
    img(src="speakers/blaine-bublitz/headshot.png", alt="Blaine Bublitz")
    h3 Maybe We Should Slow Down
    h4 Blaine Bublitz

  ul.nav.nav-tabs(role="tablist")
    li.nav-room1.active
      a(role="tab", data-toggle="tab", href="#bublitz-talk") Talk
    li.nav-room1
      a(role="tab", data-toggle="tab", href="#bublitz-bio") Bio
  div.tab-content
    div.tab-pane.active(id="bublitz-talk")
      p
        include description.jade
    div.tab-pane(id="bublitz-bio")
      p
        include bio.jade
