| I am constantly struggling to "read the document". From the begging of my coding career, I had this issue and it haven't gone away after 3 years.
| To give you some idea, just 5 pages of "Javascript basics" attached to my Japanese jQuery book was more helpful than any English tutorials. I learned express and socket.io reading Japanese blogs, not official websites. When I use English material, it takes me twice or three times as much time to read until I 'get it'.
| I often ask myself "Is this on me for lacking literacy? or is it something else?"
br
| I went on research about this and I concluded the tech world we live in is very Anglocentric. It is not just about race, but also the language.
br
| For me, accessing the Internet in early days meant I often needed to adjust encoding setting in my browser to fix garbled text. 
| Fast forward 20 years, sadly, not much has changed.
br
| GitHub won’t recognize the actual name of Arabic programming language قلب. io.js
br
| The wording of common vernacular, like "isomorphic" (not the idea itself) can be confusing.
br
| People are producing good content, but distribution of translation isnt as simple as a "fork and a PR".
br
| Programmers love to talk about "good practice" and "open standard" of our software practice. 
| I propose we should also acknowledge the issue around i18n, and build some guidance around it too.
