| As non-native English speaker, I am constantly struggling to "read the document" in English. I get frustrated for not being able to "read between lines" of Github comments. I get embarrassed when I don't get sarcasm on slack chat. Typo in variable name is the story of my life.
br
| The Tech industry is undeniably Anglocentric. The de-facto language used to develop, document, and market software is English, and It is often overlooked that software is used largely by non-English speaking communities.
br
| As someone who speaks English as a second language, it's mostly confusing and sometime very frustrating to navigate through this tech scene. I want to make it better by shearing my experience. Let's pause for a moment talking about libraries and syntax, and look at the experience of a silent majority.