| Front-end engineer by trade, coach by passion. I stabilize client-side development efforts. My kids get their good looks from me, obviously, because my wife still has hers.
| Recently moved back to Tulsa from San Francisco to build a tech company and add to the incredible momentum happening in tech in Oklahoma.
