| Let's face it: you have a web application that's got a ton of JavaScript. You probably have jQuery. Everything is unstable. You're being asked to do things that will make it worse. You're thinking "I should XYZ framework," but how do you integrate that with your current app without rewriting the WHOLE THING!?
br
br
| In this talk we'll look at:
br
| 1. Three web applications faced with the need to rewrite their application
br
| 2. Architecture, problems, and needs of each application
br
| 3. How each app rewrite was approached, what went well, what didn't
br
| 4. How you can reach they same success they all eventually reached through incremental improvement
