| Hello, I'm Iheanyi Ekechukwu. I'm a developer and designer originally from Myrtle Beach, South Carolina. In December of 2014, I graduated from the University of Notre Dame with two degrees, a B.S. in Computer Science and a B.A. in Design. During University, I learned that I had a passion for developing functional, user-friendly digital solutions to various problems. I currently am working at IBM Watson Innovation Labs in Austin, Texas as a Software Engineer.

br
| While my stack of choice is Ruby on Rails with EmberJS, I pride myself on my ability to quickly learn the languages, tools, and/or frameworks best for solving a problem. When I'm not coding or designing, you can usually find me bboying, grabbing a cup of coffee at Epoch, or recording an episode for my podcast.
