|  Having hit 2.0 recently, Ember.js is a front-end web framework for building ambitious web applications. In this talk, I discuss about reasons why I enjoy using Ember.js from the perspective of a designer and as a developer, while also giving an overview of Ember-CLI.
