h2.section-title Developer Conference
p.container
  strong Thunder Plains
  | is a web and mobile developer conference organized by the
  a(href="http://okcjs.com") Oklahoma City Javascript User Group
  | . The conference
  | focuses on JavaScript and related technologies in a wide variety of different use cases and
  | platforms that make the web all the more interesting.
  br
  ul.speakers-topics.row
    li.speakers-topics-js.col-sm-2.col-sm-offset-1.col-xs-4
      | Javascript
      img(src="images/speakers-topics-js.png", alt="Javascript")
    li.speakers-topics-html.col-sm-2.col-xs-4
      | HTML
      img(src="images/speakers-topics-html.png", alt="HTML")
    li.speakers-topics-css.col-sm-2.col-xs-4
      | CSS
      img(src="images/speakers-topics-css.png", alt="CSS")
    li.speakers-topics-api.col-sm-2.col-xs-4
      | APIs
      img(src="images/speakers-topics-api.png", alt="APIs")
    li.speakers-topics-mobile.col-sm-2.col-xs-4
      | Mobile
      img(src="images/speakers-topics-mobile.png", alt="Mobile")
