h2.section-title Code of Conduct
p.container
  | Before attending the conference,
  a(href="https://github.com/techlahoma/CodeofConduct/wiki/Techlahoma-Code-of-Conduct") please review the Thunder Plains Code of Conduct
  | . The CoC applies to all attendees, speakers, volunteers, and vendors
  | at official and unofficial events by
  a(href="http://techlahoma.org/") Techlahoma
  | and any location
  | where attendees may be congregating.
  a(href="mailto:info@thunderplainsconf.com") Contact us
  | if you have questions.
