.container
  h2.section-title Contact Us
  p
    a(href="mailto:info@thunderplainsconf.com") Email Us
  p
    a(href="https://github.com/techlahoma/thunderplains-2015") Submit a Github Issue
  p
    a(href="https://twitter.com/thunderplains") Tweet @ThunderPlains
