title: Developer Conference
date: 2014-07-08 10:17:28
---

section#conference.container
  h2.section-title Developer Conference
  p
    strong Thunder Plains
    | is a web and mobile developer conference organized by the
    a(href="http://okcjs.com") Oklahoma City Javascript User Group
    | . The conference
    | focuses on JavaScript and related technologies in a wide variety of different use cases and
    | platforms that make the web all the more interesting.
    br
    ul.speakers-topics.row
      li.speakers-topics-js.col-sm-2.col-sm-offset-1.col-xs-4
        | Javascript
        img(src="images/speakers-topics-js.png", alt="Javascript")
      li.speakers-topics-html.col-sm-2.col-xs-4
        | HTML
        img(src="images/speakers-topics-html.png", alt="HTML")
      li.speakers-topics-css.col-sm-2.col-xs-4
        | CSS
        img(src="images/speakers-topics-css.png", alt="CSS")
      li.speakers-topics-api.col-sm-2.col-xs-4
        | APIs
        img(src="images/speakers-topics-api.png", alt="APIs")
      li.speakers-topics-mobile.col-sm-2.col-xs-4
        | Mobile
        img(src="images/speakers-topics-mobile.png", alt="Mobile")





section#coc
  .container
    h2.section-title Code of Conduct
    p
      | Before attending the conference,
      a(href="http://confcodeofconduct.com") please review the Thunder Plains Code of Conduct
      | . The CoC applies to all attendees, speakers, volunteers, and vendors
      | at official and unofficial events by Thunder Plains and any location
      | where attendees may be congregating.
      a(href="mailto:info@thunderplainsconf.com") Contact us
      |  if you have questions about the COC.
    br
    p
      | Our conference is a safe learning environment for everyone. The safety
      | and well-being of attendees and others is our utmost concern, so please
      | speak up and speak out. We're here for you.

section#location
  .container
    h2.section-title Where it&#8217;s at
    p
      | Located at the
      a(href="http://www.coxconventioncenter.com/") Cox Convention Center
      |  in downtown Oklahoma City
      br
      | within walking distance of great hotels and restaurants.
  #map

