title: Developer Conference
date: 2014-07-08 10:17:28
---

section#conference
  include about-conference.jade

section#tickets
  include tickets.jade

section#sponsorship
  include sponsorship.jade

section#schedule
  include schedule.jade

section#location
  include location.jade

section#coc
  include code-of-conduct.jade

//-section#scholorship
//-  include scholarship.jade

section#videos
  include videos.jade

section#contact
  include contact.jade
