h2.section-title Where it&#8217;s at
p
  | Located at the
  a(href="http://www.coxconventioncenter.com/") Cox Convention Center
  |  in downtown Oklahoma City
  br
  | within walking distance of great hotels and restaurants.
iframe(width='100%', height='400px', frameBorder='0',  src='https://a.tiles.mapbox.com/v4/dclark.mna459o6/attribution,zoompan,geocoder,share.html?access_token=pk.eyJ1IjoiZGNsYXJrIiwiYSI6IkNYd01vRzgifQ.EBgXM0JReblZJXJkgcgiEA', id='map')
