h2.section-title Scholarship Opportunity
.container
  p
    | Everyone should have the opportunity to learn and grow, so we're offering 10 scholarships to attend Thunder Plains.
    a(href="https://docs.google.com/forms/d/1dSFlYwYEYepNAYEz_IJgafVhjSG4u9VJciUz4rZWmE8/viewform?c=0&w=1") The Thunder Plains Scholarship Application Form
