h2.section-title Sponsorship Opportunity
.container
  p
    | Interested in Sponsoring Thunder Plains? Check out the
    a(href="files/ThunderPlainsSponsorshipProspectus2015.pdf") Sponsorship Prospectus
    | . If you have any questions, please feel free to contact us via 
    a(href="mailto:info@thunderplainsconf.com") email
    | or 
    a(href="https://twitter.com/thunderplains") @ThunderPlains
    | on twitter.
