h2.section-title We &hearts; Our Sponsors
.container
  p &nbsp;
  .sponsors-list
    .row.vcenter
      .sponsor
        h2 Gold Sponsors
        .col-md-3.col-lg-3
          | &nbsp;
        .col-md-3.col-lg-3
          a.logo(href="https://www.simple.com/")
            img(alt="Simple" src="images/sponsors/simple-logo.png")
        .col-md-3.col-lg-3
          | &nbsp;
    br
    .row.vcenter
      .sponsor
        h2 Silver Sponsors
        .col-md-4.col-lg-4
          | &nbsp;
        .col-md-4.col-lg-4
          a.logo(href="https://www.quailcreekbank.com/")
            img(alt="Quail Creek Bank" src="images/sponsors/qcb-logo.png" width="200")
        .col-md-4.col-lg-4
          | &nbsp;
    .row.vcenter
      .sponsor
        .col-md-4.col-lg-4
          | &nbsp;
        .col-md-4.col-lg-4
          | &nbsp;
        .col-md-4.col-lg-4
          | &nbsp;
    br
    .row.vcenter
      .sponsor
        h2 Bronze Sponsors
        .col-md-3.col-lg-3
          | &nbsp;
        .col-md-3.col-lg-3
          | &nbsp;
        .col-md-3.col-lg-3
          | &nbsp;
    br
    .row.vcenter
      .sponsor
        h2 Community Sponsors
        .col-md-4.col-lg-4
          | &nbsp;
    br
    .row
      .sponsor
        h2 Partners
        a.logo(href="http://innotechconferences.com/okc/")
          img(alt="InnoTech" src="images/logo-innotech.png")

  p &nbsp;
  hr
  p
    | Interested in Sponsoring Thunder Plains? Check out the
    a(href="files/ThunderPlainsSponsorshipProspectus2015.pdf") Sponsorship Prospectus
    | . If you have any questions, please feel free to contact us via 
    a(href="mailto:info@thunderplainsconf.com") email
    | or 
    a(href="https://twitter.com/thunderplains") @ThunderPlains
    | on twitter.

