h2.section-title We &hearts; Our Sponsors
.container
  p &nbsp;
  .sponsors-list
    .row.vcenter
      .sponsor
        h2 Gold Sponsors
        br
        .col-md-6
          a.logo(href="https://www.simple.com/")
            img(alt="IBM" src="images/sponsors/simple-logo.png" width="350")
        .col-md-6
          a.logo(href="http://www.ibm.com/us-en/")
            img(alt="Simple" src="images/sponsors/500px-IBM_logo.svg.png" width="350")
    br
    .row.vcenter
      .sponsor
        h2 Silver Sponsors
        br
        .col-md-3
          a.logo(href="http://www.oil-law.com/")
            img(alt="Oil Law Records" src="images/sponsors/logo-olr.png" width="200")
        .col-md-3
          a.logo(href="https://www.quailcreekbank.com/")
            img(alt="Quail Creek Bank" src="images/sponsors/qcb-logo.png" width="175")
        .col-md-3
          a.logo(href="http://www.alamode.com/")
            img(alt="a la mode, inc." src="images/sponsors/logo-alamode.png" width="200")
        .col-md-3
          a.logo(href="http://www.modis.com/")
            img(alt="Modis" src="images/sponsors/logo-modis.png" width="200")
    br
    .row.vcenter
      .sponsor
        h2 Bronze Sponsors
        br
        div.row
          .col-md-4
            a.logo(href="https://jscrambler.com/en/")
              img(alt="JScrambler" src="images/sponsors/logo-jscrambler.png" width="175")
          .col-md-4
            a.logo(href="http://wdtinc.com/")
              img(alt="Weather Decision Technologies" src="images/sponsors/logo-wdt.png" width="175")
          .col-md-4
            a.logo(href="https://www.codeschool.com/")
              img(alt="Code School - a Pluralsight Company" src="images/sponsors/logo-codeschool.png" width="175")
        br
        div.row    
          .col-md-3
            a.logo(href="http://www.ok.gov/ocast/")
              img(alt="OCAST" src="images/sponsors/logo-ocast.png" width="175")
          .col-md-3  
            a.logo(href="http://www.wenzeltech.com/")
              img(alt="Wenzel Technology" src="images/sponsors/logo-wenzel.jpg" width="175")
          .col-md-3  
            a.logo(href="https://www.digitalocean.com" title="DigitalOcean is the world’s fastest growing cloud hosting provider built for developers. Our mission is simple: we’re passionate about making complex infrastructure simple and delighting our customers with a seamless experience that brings them joy. New users can easily deploy a blazing fast cloud server in 55 seconds with an intuitive control panel interface, which can be replicated on a larger scale with the company’s straightforward API.")
              img(alt="Digital Ocean" src="images/sponsors/logo-digital-ocean.png" width="175")
          .col-md-3  
            a.logo(href="https://firefox.com/developer" title="Built for those who build the Web. Firefox Developer Edition brings your core dev tools together with some powerful new ones that will extend your ability to work across multiple platforms from one place. It’s everything you’re used to, only better. And only from Firefox.")
              img(alt="Mozilla" src="images/sponsors/fde.png" width="175")    
    br
    .row.vcenter
      .sponsor
        h2 Other Sponsors
        br
        .col-md-6
          a.logo(href="https://www.buttonfrog.com/")
            img(alt="Button Frog" src="images/sponsors/buttonfrog.png" width="135")
        .col-md-6
          a.logo(href="https://www.stickermule.com")
            img(alt="Sticker Mule" src="images/sponsors/stickermule.png" width="135")
    br
    .row.vcenter
      .col-md-6
        .sponsor
          h2 Lunch Sponsor
          br
          .col-md-12
            a.logo(href="http://www.web.newspin.com/")
              img(alt="New Spin" src="images/sponsors/newspinlogo.png" width="225")
      .col-md-6
        .sponsor
          h2 Break Sponsor
          br
          .col-md-12
            a.logo(href="http://www.form.io/")
              img(alt="Form.io" src="images/sponsors/formio_logo.png" width="225")
     br         
    .row.vcenter
      .sponsor
        h2 Afterparty Sponsors
        br
        .col-md-6
          a.logo(href="https://www.rethinkdb.com/")
            img(alt="Rethink DB" src="images/sponsors/rethinkdb.png" width="225")
        .col-md-6
          a.logo(href="https://www.compose.io/")
            img(alt="Compose.io" src="images/sponsors/compose.io.png" width="225")
    br
    .row
      .sponsor
        h2 Partners
        a.logo(href="http://innotechconferences.com/okc/")
          img(alt="InnoTech" src="images/sponsors/logo-innotech.png" width="200")

  p &nbsp;
  hr
  p
    | Interested in Sponsoring Thunder Plains? Check out the
    a(href="files/ThunderPlainsSponsorshipProspectus2015.pdf") Sponsorship Prospectus
    | .
  p
    | Interested in Volunteering at Thunder Plains? Check out the
    a(href="https://docs.google.com/forms/d/1FvMkWYfVcyTFYTozbEmW-YXUw1BwLWHJsD8pkoXT65Q/viewform?c=0&w=1") Volunteer Signup Form
    | .
  br
  p
    | If you have any questions, please feel free to contact us via
    a(href="mailto:info@thunderplainsconf.com") email
    | or
    a(href="https://twitter.com/thunderplains") @ThunderPlains
    | on twitter.

