.container
  h2.section-title Tickets
  p
   | Tickets will be on sale after the CFP closes!
   
section#contact
.container
  h2.section-title Contact Us
  a(href="mailto:info@thunderplainsconf.com") Email Us!
  p
   | or
  a(href="https://twitter.com/thunderplains") @ThunderPlains
