.container
  h2.section-title Tickets
  p
   | Tickets will be on sale after the CFP closes!
   
<script src='https://js.tito.io/v1' async></script>
<tito-widget event="ultimateconf/2013"></tito-widget>   
