.container
  h2.section-title Tickets   
  p There are 300 total tickets available for Thunder Plains (that's it!) 
.container.tinytext
  p The first 30 "early bird tickets" (Lightning) are at a greatly discounted rate. Afterward, discounted tickets (Thunder) are available if purchased before August 31, so act quickly! For large groups, (5 or more) we are offering a group discount (Herd). This is a great option for shops who want to bring the whole team!  
<script src='https://js.tito.io/v1' async></script>
<tito-widget event="techlahoma/thunderplains-2015"></tito-widget>

  
