h2.section-title Videos
p
 | Check out some videos from last year
 a(href="http://2014.thunderplainsconf.com") Thunder Plains 2014
 .videoplayer.container
   iframe(src="https://www.youtube.com/embed/videoseries?list=PLdW0ayjzW_LCC4wYjQkivRl8QK4EvZ3i_", frameborder="0", allowfullscreen)
